<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="mb-3">
    <label
      for="password"
      class="form-label">
      Password
    </label>
    <input
      type="password"
      id="password"
      class="form-control"
      autocomplete="new-password"
      formControlName="password">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['password'])"
      [controlErrors]="form.controls['password'].errors">
    </control-error>
  </div>
  <div class="mb-3">
    <label
      for="passwordConfirmation"
      class="form-label">
      Password confirmation
    </label>
    <input
      type="password"
      id="passwordConfirmation"
      class="form-control"
      autocomplete="new-password"
      formControlName="passwordConfirmation">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['passwordConfirmation'])"
      [controlErrors]="form.controls['passwordConfirmation'].errors">
    </control-error>
    <ng-container *ngIf="form.errors?.['passwordConfirmation']">
      <div class="control-error">
        Password and password confirmation do not match.
      </div>
    </ng-container>
  </div>
  <div style="text-align: center;">
    <button
      type="submit"
      class="button">
      Reset password
    </button>
  </div>
</form>
