<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="administratorId"
          class="form-label">
          ID
        </label>
        <input
          type="tel"
          id="administratorId"
          class="form-control"
          formControlName="administratorId">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="administratorName"
          class="form-label">
          Name
        </label>
        <input
          type="text"
          id="administratorName"
          class="form-control"
          formControlName="administratorName">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="administratorEmail"
          class="form-label">
          Email
        </label>
        <input
          type="text"
          id="administratorEmail"
          class="form-control"
          formControlName="administratorEmail">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="administratorStatus"
          class="form-label">
          Status
        </label>
        <select
          id="administratorStatus"
          class="form-control"
          formControlName="administratorStatus">
          <option [ngValue]="null">All</option>
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>
    </div>
  </div>
</form>
