<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="mb-3">
    <label
      for="passwordCurrent"
      class="form-label">
      Current password
    </label>
    <input
      type="password"
      id="passwordCurrent"
      class="form-control"
      autocomplete="current-password"
      formControlName="passwordCurrent">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['passwordCurrent'])"
      [controlErrors]="form.controls['passwordCurrent'].errors">
    </control-error>
  </div>
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="passwordNew"
          class="form-label">
          New password
        </label>
        <input
          type="password"
          id="passwordNew"
          class="form-control"
          autocomplete="new-password"
          formControlName="passwordNew">
        <control-error *ngIf="controlErrorMessageIsVisible(form.controls['passwordNew'])"
          [controlErrors]="form.controls['passwordNew'].errors">
        </control-error>
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="passwordNewConfirmation"
          class="form-label">
          New password confirmation
        </label>
        <input
          type="password"
          id="passwordNewConfirmation"
          class="form-control"
          autocomplete="new-password"
          formControlName="passwordNewConfirmation">
        <control-error *ngIf="controlErrorMessageIsVisible(form.controls['passwordNewConfirmation'])"
          [controlErrors]="form.controls['passwordNewConfirmation'].errors">
        </control-error>
        <div *ngIf="form.errors?.['passwordConfirmation']" class="control-error">
          New password and new password confirmation do not match.
        </div>
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="button">
    Change
  </button>
</form>
