<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="mb-3">
    <label
      for="email"
      class="form-label">
      Email
    </label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['email'])"
      [controlErrors]="form.controls['email'].errors">
    </control-error>
  </div>
  <div class="mb-3">
    <label
      for="password"
      class="form-label">
      Password
    </label>
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['password'])"
      [controlErrors]="form.controls['password'].errors">
    </control-error>
  </div>
  <div style="text-align: center;">
    <button
      type="submit"
      class="button">
      Sign in
    </button>
  </div>
</form>
