<div class="row">
  <div class="col-lg-6">
    <p class="view-label">
      ID
      <span>
        {{ user.id }}
      </span>
    </p>
  </div>
  <div class="col-lg-6">
    <p class="view-label">
      Registration date
      <span>
        {{ user.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
      </span>
    </p>
  </div>
</div>
<p class="view-label">
  Name
  <span>
    {{ user.name }}
  </span>
</p>
<p class="view-label">
  Email
  <span>
    {{ user.email }}
  </span>
</p>
<p class="view-label mb-0">
  Status
  <span>
    <span
      class="badge"
      [class.badge-green]="user.status === true"
      [class.badge-red]="user.status === false">
      {{ user.status | status }}
    </span>
  </span>
</p>
