<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="mb-3">
    <label
      for="email"
      class="form-label">
      Email
    </label>
    <input
      type="email"
      id="email"
      class="form-control"
      autocomplete="username"
      formControlName="email">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['email'])"
      [controlErrors]="form.controls['email'].errors">
    </control-error>
  </div>
  <div style="text-align: center;">
    <button
      type="submit"
      class="button">
      Reset password
    </button>
  </div>
</form>
