<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="mb-3">
    <label
      for="name"
      class="form-label">
      Name
    </label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['name'])"
      [controlErrors]="form.controls['name'].errors">
    </control-error>
  </div>
  <div class="mb-3">
    <label
      for="email"
      class="form-label">
      Email
    </label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email">
    <control-error *ngIf="controlErrorMessageIsVisible(form.controls['email'])"
      [controlErrors]="form.controls['email'].errors">
    </control-error>
  </div>
  <ng-container *ngIf="passwordFormGroup.enabled === true" formGroupName="password">
    <div class="row">
      <div class="col-lg">
        <div class="mb-3">
          <label
            for="password"
            class="form-label">
            Password
          </label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password">
          <control-error *ngIf="controlErrorMessageIsVisible(passwordFormGroup.controls['password'])"
            [controlErrors]="passwordFormGroup.controls['password'].errors">
          </control-error>
        </div>
      </div>
      <div class="col-lg">
        <div class="mb-3">
          <label
            for="passwordConfirmation"
            class="form-label">
            Password confirmation
          </label>
          <input
            type="password"
            id="passwordConfirmation"
            class="form-control"
            formControlName="passwordConfirmation">
          <control-error *ngIf="controlErrorMessageIsVisible(passwordFormGroup.controls['passwordConfirmation'])"
            [controlErrors]="passwordFormGroup.controls['passwordConfirmation'].errors">
          </control-error>
          <div *ngIf="passwordFormGroup.errors?.['passwordConfirmation']" class="control-error">
            Password and password confirmation do not match.
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div style="text-align: center;">
    <button
      type="submit"
      class="button">
      Sign up
    </button>
  </div>
</form>
