<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <h2>Reset password</h2>
      <ng-container [ngSwitch]="token === null">
        <ng-container *ngSwitchCase="true">
          <app-reset-password-request-form
            [formLoading]="formLoading"
            (formSubmit)="handleResetPasswordRequestFormSubmit($event)">
          </app-reset-password-request-form>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <app-reset-password-form
            [formLoading]="formLoading"
            (formSubmit)="handleResetPasswordFormSubmit($event)">
          </app-reset-password-form>
        </ng-container>
      </ng-container>
    </div>
    <div class="mt-3" style="text-align: center;">
      <p class="mb-0">
        Remember the password?
        <a routerLink="/sign-in">Sign in</a>.
      </p>
    </div>
  </div>
</div>
