<form [formGroup]="form" (ngSubmit)="handleNgSubmit()">
  <div class="row">
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="userId"
          class="form-label">
          ID
        </label>
        <input
          type="tel"
          id="userId"
          class="form-control"
          formControlName="userId">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="userName"
          class="form-label">
          Name
        </label>
        <input
          type="text"
          id="userName"
          class="form-control"
          formControlName="userName">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="userEmail"
          class="form-label">
          Email
        </label>
        <input
          type="text"
          id="userEmail"
          class="form-control"
          formControlName="userEmail">
      </div>
    </div>
    <div class="col-lg">
      <div class="mb-3">
        <label
          for="userStatus"
          class="form-label">
          Status
        </label>
        <select
          id="userStatus"
          class="form-control"
          formControlName="userStatus">
          <option [ngValue]="null">All</option>
          <option [ngValue]="true">Active</option>
          <option [ngValue]="false">Inactive</option>
        </select>
      </div>
    </div>
  </div>
</form>
