<div class="row align-items-center mb-3">
  <div class="col">
    <h1 class="mb-0">Administrators</h1>
  </div>
  <div class="col-auto">
    <a
      routerLink="add"
      class="button">
      Add
    </a>
  </div>
</div>
<app-administrator-search-form
  [formData]="listSearchParams"
  (formChange)="handleListSearchFormChange($event)">
</app-administrator-search-form>
<div class="card">
  <ng-container [ngSwitch]="listLoading">
    <ng-container *ngSwitchCase="true">
      <p class="mb-0" style="font-weight: 300; text-align: center;">Loading...</p>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container [ngSwitch]="list.length === 0">
        <ng-container *ngSwitchCase="true">
          <p class="mb-0" style="font-weight: 300; text-align: center;">No administrator found.</p>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <app-administrator-list
            [list]="list">
          </app-administrator-list>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
