<div class="row">
  <div class="col-lg-6">
    <p class="view-label">
      ID
      <span>
        {{ profile.id }}
      </span>
    </p>
  </div>
  <div class="col-lg-6">
    <p class="view-label">
      Registration date
      <span>
        {{ profile.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
      </span>
    </p>
  </div>
</div>
<p class="view-label">
  Name
  <span>
    {{ profile.name }}
  </span>
</p>
<p class="view-label mb-0">
  Email
  <span>
    {{ profile.email }}
  </span>
</p>
