<h1 class="mb-3">Users</h1>
<app-user-search-form
  [formData]="listSearchParams"
  (formChange)="handleListSearchFormChange($event)">
</app-user-search-form>
<div class="card">
  <ng-container [ngSwitch]="listLoading">
    <ng-container *ngSwitchCase="true">
      <p class="mb-0" style="font-weight: 300; text-align: center;">Loading...</p>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container [ngSwitch]="list.length === 0">
        <ng-container *ngSwitchCase="true">
          <p class="mb-0" style="font-weight: 300; text-align: center;">No user found.</p>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <app-user-list
            [list]="list">
          </app-user-list>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
