<header class="header section section-small">
  <div class="container-fluid" style="height: 100%;">
    <div class="row align-items-center" style="height: 100%;">
      <div class="col col-lg-auto">
        <a routerLink="./">
          Boilerplate
        </a>
      </div>
      <div class="col-auto col-lg">
        <button
          type="button"
          class="nav-button-open"
          (click)="navOpen()">
          <span>
            <span></span>
            <span></span>
            <span></span>
          </span>
        </button>
        <nav #nav
          class="nav"
          (click)="navClose()">
          <div class="nav-ul">
            <div class="nav-li">
              <a
                routerLink="dashboard"
                routerLinkActive="nav-button-active"
                class="nav-button">
                Dashboard
              </a>
            </div>
            <div class="nav-li">
              <a
                routerLink="users"
                routerLinkActive="nav-button-active"
                class="nav-button">
                Users
              </a>
            </div>
            <div class="nav-li">
              <a
                routerLink="administrators"
                routerLinkActive="nav-button-active"
                class="nav-button">
                Administradores
              </a>
            </div>
            <div *ngIf="user !== undefined" class="nav-li ms-lg-auto">
              <a
                routerLink="profile"
                routerLinkActive="nav-button-active"
                class="nav-button">
                {{ user.name }}
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</div>
